@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  input{
    background: transparent;

    &:focus{
      outline: none;
    }
  }

  textarea{
    background-color: transparent;
    resize: none;

    &:focus{
      outline: none;
    }
  }
}

@layer components{
    ::-webkit-scrollbar{
      width: 6px;
    }

    ::-webkit-scrollbar-thumb{
      border-radius: 8px;
      background-color: #6a6a6a;
    }

    ::-webkit-scrollbar-thumb:hover{
        background-color: #808080;
    }
  
}